:root {
  background-color: hsl(0deg 0% 14%);
  color: hsl(0deg 0% 100% / 87%);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  color-scheme: light dark;
  font-synthesis: none;
  text-size-adjust: 100%;
}

.light-text {
  color: hsl(0deg 0% 53%);
}

.a11y-filter {
  display: none;
  position: fixed;
  z-index: 99999;
  inset: 0;
  padding: 1rem;
  color: hsl(0deg 0% 100%);
  pointer-events: none;
}

a {
  color: hsl(237deg 100% 70%);
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: hsl(237deg 85% 65%);
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  place-items: center;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
}

button {
  padding: .6em 1.2em;
  transition: border-color .25s;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: hsl(0deg 0% 10%);
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  border-color: hsl(237deg 100% 70%);
}

button.is-active {
  border-color: hsl(0deg 0% 100%);
  background-color: hsl(237deg 70% 55% / 100%);
  color: hsl(0deg 0% 100%);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: hsl(0deg 0% 100%);
    color: hsl(208deg 37% 20%);
  }

  a:hover {
    color: hsl(237deg 100% 73%);
  }

  button {
    background-color: hsl(0deg 0% 98%);
  }
}
